.classpath
.project
.settings/
*.class
*.jar
docroot/WEB-INF/src/com/telefonica/service/
docroot/WEB-INF/service/com/telefonica/model/
docroot/WEB-INF/src/com/telefonica/service/
docroot/WEB-INF/src/com/telefonica/model/
docroot/WEB-INF/src/META-INF/portlet-spring.xml
docroot/WEB-INF/classes/service.properties
docroot/WEB-INF/src/service.properties

